@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "open sans", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ivory;
}
/* home icon */
.home {
  top: 10%;
  right: 5%;
  position: fixed;
}

.home i {
  font-size: 2.2rem;
  color: #c69963;
  margin: auto;
}

.about-section {
  background: url(images/about-img.jpg) no-repeat left;
  background-size: 55%;
  background-color: ivory;
  overflow: hidden;
  padding: 10px 0;
}

h1 {
  font-family: "Niconne", cursive;
  color: #c69963;
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 30px;
}

.text {
  color: #c69963;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #101d2c;
  padding: 150px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
  @media screen and (max-width: 1000px) {
    .about-section {
      background-size: 100%;
      padding: 100px 40px;
    }

    .inner-container {
      width: 100%;
    }
    .home i {
      color: ivory;
    }
  }
  @media screen and (max-width: 576px) {
    .about-section {
      padding: 0;
    }
    .inner-container {
      padding: 60px;
    }
  }

  @media screen and (max-width: 992px) {
    .home i {
      top: 5%;
      color: ivory;
    }
  }

  @media screen and (max-width: 768px) {
    .home i {
      top: 6%;
      color: #c69963;
    }
  }
}
